<!DOCTYPE html>
<html ng-app="appRealEstate">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    <script>
       var varGlobal = {
           "user" :{
               "name" : "@(User.Identity.Name)",
               "roleGuest": "@(User.IsInRole("Guest"))",
               "roleGuest" : "@(User.IsInRole("Guest"))",
           }
       };
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/underscore")
    
    @Scripts.Render("~/bundles/RealEstateScripts")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <header></header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav " id="top_menu">
            <li>
                @Html.ActionLink("Недвижимость", "Table", "Estates")
            </li>
            @if (Request.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Справочник областей", "Regions", "Directories", new { tableName = "Regions", title = "Справочник областей" }, null)
                </li>
                <li>
                    @Html.ActionLink("Справочник городов", "Regions", "Directories", new { tableName = "Cities", title = "Справочник городов" }, null)
                </li>
                <li>
                    @Html.ActionLink("Справочник районов", "Districts", "Directories")
                </li>
            }

            @Html.Partial("_LoginPartial")
        </ul>
    </nav>


    @RenderBody()
    <script>
        var userRole = '@(User.IsInRole("User") ? "true" : "false")';
        var adminRole = '@(User.IsInRole("Admin") ? "true" : "false")';
        jQuery(document).ready(function () {
            setItemByRoles(userRole, adminRole);
        })
    </script>
</body>

</html>
