@model RealEstate.Models.Estates
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 40%;
            margin: auto;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("EditEstate", "Estates", FormMethod.Post, new { @class = "well span form-horizontal", enctype = "multipart/form-data",  }))
    {
        <div class="well row" style="width:100%">
            <div class="col-sm-4" style="width:50%">
                @Html.HiddenFor(model => model.id)
                <label style="width:100px;">Манагер</label>
                @Html.DropDownListFor(model => model.Users.id, Model.listUser as SelectList, new { style = "width:200px" })
                @Html.ValidationMessageFor(model => model.Users.id, "", new { @class = "text-danger" })
                <br>
                <label style="width:100px;">Область</label>
                @Html.EditorFor(model => model.region)
                <br>
                <label style="width:100px;">Город</label>
                @Html.EditorFor(model => model.city)
                <br>
                <label style="width:100px;">Район</label>
                @Html.EditorFor(model => model.district)
                <br>
            </div>
            <div class="col-sm-8" style="width:50%">
                <label style="width:100px;">Body</label>
                @Html.TextAreaFor(model => model.descr, 5, 50, null)
                @Html.ValidationMessageFor(model => model.descr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="well row" style="width:100%">
            <div ng-app="appRealEstate" ng-controller="estateEditController">
                <span ng-init="getImageList(@Model.id)"></span>
                <div id="dynamiccontentcarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >

                    <ol class="carousel-indicators">
                        <li style="align-items:center" data-target="#dynamiccontentcarousel" data-ng-repeat="slide in slides" data-ng-class="{active : $first}" data-slide-to="{{$index}}"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item" data-ng-repeat="slide in slides" data-ng-class="{active : $first}" width="200">
                            <img data-ng-src="{{slide}}" alt=" carousel {{$index}}" style="max-height:400px;min-height:400px" />
                        </div>
                    </div>
                    <!--
                    <div class="span6">
                        Interval, in milliseconds:
                        <input type="number" data-ng-model="myInterval">
                        <br />
                        Enter a negative number to stop the interval.
                    </div>
                    /!-->


                    <div class="m-carousel-controls m-carousel-pagination" style="align-self:center;width:100%">

                        <a class="m-carousel-controls" ng-click="deleteImage(@Model.id)" href="#" role="button" data-slide="next" style="align-items:center">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            <span class="sr-only">delete</span>
                        </a>
                        <a class="m-carousel-control" href="#dynamiccontentcarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="m-carousel-control" href="#dynamiccontentcarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        
                        
                    </div>
                </div>
                <div>
                    <input onchange="angular.element(this).scope().file_changed(this, @Model.id)"
                           type="file" accept="image/*">
                </div>    
            </div>
            
        </div>
        
        <div class="well row" style="width:100%">
            @Html.Hidden("Id", @Model.id)
            <input type="submit" value="Сохранить" />
        </div>
    }

</body>

</html>





