@model RealEstate.Models.LogViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход в систему</title>
</head>
<body>
    <div class="well-row">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "well-row col-md-12" }))
        {
            <div class="row">
                <div class="well row col-md-24">
                    <div style="width:100%" class="well-row col-md-24">
                        <p class="h4" style="width:100%"><b>Вход в систему</b></p>
                        <p>Введите свой логин и пароль для входа в систему</p>
                    </div>
                    <div style="width:100%" class="well row col-md-24">
                        <div style="width:100%" class="well-row col-md-24">
                            @Html.ValidationSummary(true)
                            @Html.LabelFor(model => model.UserName, new { @style = "width:100%" })
                            @Html.EditorFor(model => model.UserName, new { @style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.UserName)
                            <p>
                                @Html.LabelFor(model => model.Password, new { @style = "width:100%" })
                                @Html.EditorFor(model => model.Password, new { @style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </p>
                                @Html.LabelFor(model => model.RememberMe, new { @style = "width:100%" })
                                @Html.EditorFor(model => model.RememberMe, new { @style = "width:100%" })
                            <p>
                                @Html.LabelFor(model => model.NewUser, new { @style = "width:100%" })
                                @Html.EditorFor(model => model.NewUser, new { @style = "width:100%" })
                            </p>
                            <p> 
                                <input type="submit" value="Войти" />
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</body>
</html>